<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internalLog.txt">
	<variable name="logDirectory" value="${basedir}/wwwroot/ErrorLoger" />

	<targets>
		<!-- File Target for all log messages with basic details -->
		<target xsi:type="File" name="f" fileName="${logDirectory}/${shortdate}-Error.txt"
				layout="$${longdate} ${newline}
              ${processid}  ${newline}
              ${aspnet-traceidentifier}   ${newline}
              ${aspnet-user-isauthenticated}  ${newline}
              ${aspnet-request-method}${newline}
              ${aspnet-request-url} ${newline}
              ${aspnet-user-identity}${newline}
              ${event-properties:item=EventId_Id} ${newline}
              ${uppercase:${level}} ${newline}
              ${logger}${newline}
              ${message} ${newline}
              ${exception:format=tostring} ${newline}
              ${callsite} ${newline}
              ${callsite-linenumber} ${newline}${newline}${newline}" />

	</targets>

	<rules>
		<!-- سطح خطاهایی که باید لاگ شوند -->
		<logger name="*" minlevel="Info" writeTo="f" />
	</rules>
</nlog>
